<ul>
<% for (var note of notes) { %>
  <li>
    <a href="<%- serverURL %>/<%- note.noteId %>"><%= note.info.title %></a>
    <% for (var tag of note.info.tags) { %>
      <span class="label label-default"><%= tag %></span>
    <% } %>
    <small style="float: right;"><%= note.fromNow %></small>
  </li>
<% } %>
</ul>
