<!DOCTYPE html>
<html lang="en">

<head>
    <%- include notes/head %>
</head>

<body>
    <%- include notes/header %>
    <%- include notes/body %>
    <%- include notes/footer %>
    <%- include notes/foot %>
</body>

</html>
