<!DOCTYPE html>
<html lang="en">

<head>
    <%- include search/head %>
</head>

<body>
    <%- include search/header %>
    <%- include search/body %>
    <%- include search/footer %>
    <%- include search/foot %>
</body>

</html>
